{% extends 'base.html.twig' %}

{% block title %}New Lieu{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="h1-romain">Créer un nouveau lieu</h1>

    {{ include('lieu/_form.html.twig') }}

        <a class="details-link" href="{{ path('lieu_index') }}"> <button class="btn btn-dark mt-3 mb-3">Retour à la liste des lieux</button></a>
    </div>
{% endblock %}
