.infosAnnulSortie {
    display: grid;

    justify-content: center;

    margin-top: 120px;

}
textarea
 {
    margin-left: 140px;
}

.NameAnnuleSortie,
.dateAnnuleSortie,
.CampAnnuleSortie,
.LieuAnnulSortie {
    display: flex;
    margin-top: 15px;
}

.recupAnnuSortie1
{
    margin-left: 65px;
}
.recupAnnuSortie2 {
    margin-left: 68px;
}

.recupAnnuSortie3 {
    margin-left: 127px;
}
.recupAnnuSortie4 {
    margin-left: 155px;
}
.formAnnuleS {
    margin-top : 15px;
}
.bouttonFormAnnuler {
    margin-top : 35px;
    margin-right: 55px;
}


/*

J'UTILISE TA PAGE J'AI QUE QUELQUES LIGNES BISOUS

 */

.h1-romain{
    text-align: center;
    margin-bottom: 60px;
}

.profile-image{
    position: relative;
    text-align: center;
    display: flex;
    vertical-align: center;
    margin-bottom: 40px;
}

.img-utilisateur{
    width: 200px;
    height: 200px;
    margin: auto;
}

.img-utilisateur-uptdate{
    width: 250px;
    height: 250px;
    margin: auto;
}

.info{
    margin-bottom: 20px;
    position: absolute;
}

.info-span{
    text-align: right;
    color: #00008b;
    position: relative;
    padding-bottom: 10px;
    border-bottom: #000000 solid 1px;
}


