{% extends 'base.html.twig' %}

{% block title %}Listes des participants | {{ parent() }}{% endblock %}

{% block body %}
    <h2>Liste des participants</h2>
    <table>
        <thead>
            <tr>

            </tr>
        </thead>
    </table>
{% endblock %}