{% extends 'base.html.twig' %}

{% block body %}

        <div class="supputilisateurtitre">
                <h4 >Suppression des utilisateurs</h4>
        </div>

        <div class="formulaireSuppUtil container">
                <h6 class="titleListeSuppUtil"> Listes des emails des utilisateurs</h6>
                {{ form_start(supUtilForm) }}

                {{ form_widget(supUtilForm) }}

                <p class="textFormSuppUtil">Choissisez plusieurs utilisateurs de la liste en restant appuyé sur CTRL + clic</p>

                <div class="boutonValiderSupp">
                         <input class="bouttonFormAnnuler btn btn-dark" type="submit" value="Submit">
                </div>
                {{ form_end(supUtilForm) }}
        </div>

{% endblock %}

{% block title %}

{% endblock %}

