{% extends 'base.html.twig' %}


{% block body %}
        <div class="infosAnnulSortie">
        <div class="NameAnnuleSortie">
                <p>Nom de la sortie:  </p>
                        <p class="recupAnnuSortie"> TEST</p>
        </div>
        <div class="dateAnnuleSortie">
                <p>Date de la sortie: </p>
        </div>
        <div class="CampAnnuleSortie">
                <p>Campus: </p>
        </div>
        <div class="LieuAnnulSortie">
                <p>Lieu: </p>
        </div>
        <div class="formAnnuleS">
        {{ form_start(sortieCancelForm) }}
        {{ form_widget(sortieCancelForm) }}
        {{ form_end(sortieCancelForm) }}
        </div>
        </div>


{% endblock %}

{% block title %}

{% endblock %}

