<nav class="navbar navbar-expand-lg navbar-light bg-white d-flex justify-content-start">
        <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="Images/Sortir.com.logo.gif" alt="logo"></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link"  href="#" title="City">Ville</a></li>
                    <li class="nav-item"><a class="nav-link"  href="#" title="Campus">Campus</a></li>
                    <li class="nav-item"><a class="nav-link"  href="#" title="Home">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link"  href="#" title="My profile">Mon profil</a></li>
                    <li class="nav-item"><a class="nav-link"  href="#" title="logOut">Se déconnecter </a></li>
                </ul>
            </div>
    </div>
</nav>
{# todo : afficher ele bouton toggle à droite car ça surcharge à gauche avec l'image #}

