<nav>
    <ul>
        <li><a href="#" title="Home">Home</a></li>
        <li><a href="#" title="Test">Test</a></li>
        <li><a href="#" title="All series">Sorties</a></li>
        <li><a href="#" title="All series">Autres sorties</a></li>
        <li><a href="#" title="All series">Je ne sais pas </a></li>

    </ul>
</nav>